@{
    ViewData["Title"] = "Home Page";
   
    Pagin pagin=new (); //we create object here so we can use it in the view
    int pageNo=0;//default is 0
    if(ViewBag.Pagin!=null)
    {
        pagin= ViewBag.Pagin;//set this pagin's data here from the viewbag which is from the action
        pageNo=pagin.CurrentPage;//reset pageNo to Currentpage the user at
    } 
}
@model List<ExampleTable>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.FullName</td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Pagination" model="@pagin"/>
